/* Add your CSS here. This file should */
/* automatically hot reload into the app on save */
* {
	box-sizing: border-box;
	margin: 0;
}
body {
	background-color: #444; 
}

#main-container {
	padding-left: 30px;
	padding-top: 30px;
	font-family: 'Slabo 27px', serif;
}

#main-container h1 {
	color: #ea5266;
	padding-bottom: 20px;
	letter-spacing: 3px;
	font-size: 40px;
}

input {
	margin-bottom: 20px; 
	padding: 2px 3px; 
	width: 209px;
}

table {
	width: 55%;
	color: white;
	border-collapse: collapse;
	cursor: pointer;
}

th, td {
	border: 1px white solid; 
	padding: 5px;
	padding-right: 25px;
	color: white;
}
th div{
	float: right;
	padding-left: 5px;
}
.active {
	color: #ea5266;
}

#counter-container {
	padding-top: 30px;
}

#counter-container p {
	color: white;
	padding-top: 5px;
}

#counter-container h2 {
	font-family: 'Lato';
	color: #ea5266;
	padding-left: 10px;
	padding-bottom: 5px;
}
#counter-container div {
	display: flex;
}

.arrow-top {
  border-top-color: orangered;  
  border-bottom: 0;
 }
 .arrow-bottom {
  border-bottom-color: orangered;  
  border-top: 0;
 }
    


/*//  w W /*/

